<h1>¡EDiT_VØLUNTEER!</h1>

<h1>Update "<%= @volunteer.name() %>"</h1>

<form action="/volunteers/<%= @volunteer.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename Volunteer</label>
  <input id="name" name="name" type="text" placeholder="<%= @volunteer.name %>">
  <label for="project_name">Add project</label>
  <input id="project_title" name="project_title" type="text">
  <button type="submit">Update</button>
</form>

<form action="/volunteers/<%= @volunteer.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Volunteer</button>
</form>
<p><a href="/volunteers">Return to Volunteer list</a></p>
