<h1>¡NEW_VØLUNTEER!</h1>

form action="/volunteers" method="post">
  <div class="form-group">
    <label for="volunteer_name">Volunteer Name</label>
    <input id="n" name="volunteer_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add Volunteer</button>
</form>
<a href="/volunteers">Cancel</a>

<p><a href="/volunteers">Return to Volunteers list</a></p>
