<h1>¡NEW_PRØJEÇT!</h1>
<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_title">title</label>
    <input id="n" name="project_title" class="form-control" type="text">
    <label for="volunteer">Volunteer Name</label>
    <input id="n" name="volunteer" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Create Project</button>
</form>
<a href="/projects">Cancel Project</a>

<p><a href="/projects">Return to Project List</a></p>
