<h1>¡PRØJEÇT!</h1>

<h3>Title: <%= @project.title %></h3>
<h3>Volunteers:</h3>
<% volunteers = @project.volunteers %>
<% if volunteers %>
  <a href="/volunteers/<%= volunteers.id %>"><h3><%= volunteers.name %></h3></a>
<% else %>
  <p>We need <em>YOU</em> to volunteer!!!!!</p>
<% end %>


<form action="/projects/<%= @project.id %>/edit" method="get">
  <button type="submit" class="btn">Edit Project</button>
</form>
<p><a href="/projects">Return to project list</a></p>
