<div class="projects_main">
</div>


<h3>Current Projects:</h3>
<% if @projects %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no projects to display.</p>
<% end %>


<form action="/projects/search" method="post">
  <div class="form-group">
    <label for="name">Search Title</label>
    <input id="search" name="title" class="form-control" type="text">

    <label for="author">Search Volunteers</label>
    <input id="search" name="volunteer" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Search</button>
</form>

<form class="" action="/purge" method="get">
  <button type="submit" name="button">PURGE</button>
</form>
