<h1>¡VØLUNTEERS!</h1>

<div class="volunteers_main">
  <a href="/volunteers/new"><h3>Add an Volunteer!</h3></a>
  <a href="/projects"><h3>View Projects.</h3></a>
</div>


<h3>List of Volunteers:</h3>
<% if @volunteers %>
  <ul>
    <% @volunteers.each do |volunteer| %>
      <li><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no Volunteers to display.</p>
<% end %>


<form action="/volunteers/search" method="post">
  <div class="form-group">
    <label for="name">Search Name</label>
    <input id="search" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Search</button>
</form>

<form class="" action="/purge" method="get">
  <button type="submit" name="button">PURGE</button>
</form>
